#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Karla, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  background: #0b2434;
  padding: 30px 20px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: calc(100vh - 60px);
}
main {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  padding: 33.28px 34.56px 33.92px 34.56px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;

  .title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
    h1 {
      color: #2b283a;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.768px;
    }

    h2 {
      color: #4a4e74;
      font-family: Inter;
      font-size: 0.85rem;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.393px;
      max-width: 75%;
    }
  }

  .rollButton {
    background-color: #5035ff;
    color: #fff;
    font-family: inherit;
    min-width: 5.75rem;
    min-height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .dice {
    display: grid;
    grid: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 1rem;
  }
}
